body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}

body {
    font-size:16px;
}

hr {border: solid 5px; width: 50px;}

.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

.myMap {
    width: 100%;
    height: 200px;
}

.grid-container-project {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}

.grid-container-skills {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}

.grid-container-design {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 15px;
}

.grip-container-certificates {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}


@media only screen and (max-width: 770px) {
    .grid-container-project {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    .grid-container-skills {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    .grip-container-certificates {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
}